* {
  box-sizing: border-box;
}

.all {
  padding: 20px;
  background-color: #ddd;
  min-height: 100%; 
}

.sidebar {
  background-color: #adb9ab;
  border: 1px solid #ddd;
  border-radius: 20px;
  min-height: 100%;
  height: 90vh;
}
.sidebar--header {
  text-align: center;
  font-weight: 700;
  margin: 20px 0;
}
.sidebar--header__image {
  width: 70px;
  height: auto;
}
.sidebar--menu ul {
  list-style-type: none;
  font-weight: 500;
}
.sidebar--menu ul li {
  margin-bottom: 20px;
}
.sidebar--menu ul li .icon {
  margin-right: 10px;
  font-size: 20px;
}
.sidebar--menu ul li .navlink {
  text-decoration: none;
  color: #000;
}

.content--header {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.content--header__title {
  width: 80%;
  text-align: center;
}
.content--header__title span {
  background-color: #d1e7dd;
  padding: 5px 10px;
}
.content--header__icon {
  width: 5%;
}
.content--header__login {
  width: 15%;
  text-align: right;
}
.content--header__login span {
  margin-right: 10px;
  font-weight: 500;
}
.content--header__login img {
  width: 50px;
}

.btn {
  color: #000;
  font-weight: 600;
}

.card {
  margin-top: 20px;
  border-radius: 15px;
}
.card-button {
  margin-right: 15px;
}
.card-header {
  display: flex;
  align-items: center;
}
.card-header strong {
  font-size: 22px;
  font-weight: 700;
}
 .card-header .search{
  margin-left: auto;
 }

.card-body {
  height: 77vh;
  overflow: auto;
}

.card th,
.card td {
  border-style: none;
}
.card .table .column {
  padding: 8px 5px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  overflow: auto;
}
.card .table .column .box {
  background-color: #ddd;
  width: 20%;
}
.card .table .column-thead {
  background-color: #fff;
}
.card .table .column-thead .box-thead {
  background-color: #fff;
}


/* styles/Login.css */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form h2 {
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input[type=text],
.form input[type=password] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}

.profile .card {
  border-color: red;
}
.profile .card-header {
  border-color: red;
}
.profile .card-header .boder-right {
  border-right: 1px solid red;
}
.profile .card-header .nav-tabs {
  border-bottom: 0 !important;
}
.profile .card-header .nav-item {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
}
.profile .card-header .nav-link {
  min-height: 100%;
  border: 0px;
  background-color: #f8f8f8;
  color: red;
}
.profile .card-body {
  padding: 50px;
}
.profile .card-body .item {
  font-size: 18px;
  margin-bottom: 8px;
}
.profile .card-body .item-title {
  font-weight: 700;
  margin-right: 10px;
}
.profile .change-infor {
  padding: 30px;
}
.profile .change-infor .choose-img {
  margin-bottom: 10px;
}
.profile .button {
  margin-top: 20px;
}

.login .left {
  display: flex;
}

.login label a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}
.Dasboard{
  max-width:960px;
}
/* Dasboard */
.Dasboard .contaner {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  width: 100vw;  /* Full width of the viewport */
  box-sizing: border-box;
  padding: 20px;
}
.Dasboard .header h1{
  font-size: 30px; /* Điều chỉnh kích thước chữ ở đây */
  color: #0b0b0b; /* Màu chữ (nếu cần) */
  font-weight: bold; /* Độ đậm của chữ (nếu cần) */
  margin: 20px 0; /* Khoảng cách trên dưới (nếu cần) */

}
.Dasboard .hearder_title{
  width: 220px;
  height: 50px;
}
.Dasboard .hearder_title h1{
  font-size: 25px;

}
.Dasboard .contaner_content{
  display: flex;
  background-color: #f3e7e7; /* Thiết lập màu nền thành màu xám */
  padding: 20px; /* Thêm khoảng đệm bên trong 20px */
  height: 100%; /* độ hiển thị */
  width: 100%; /* Set specific width */
  gap: 15px;
 flex-direction: column;
 position: relative;



}
.Dasboard .contaner_content .box_content_0{
  top: 90px;
  left: 50px;
  gap: 100px;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 80vw;
  height: 80vw;
 

  
}


.Dasboard .box_content {
  position: relative; /* Đặt phần tử cha ở vị trí tương đối để chứa phần tử con tuyệt đối */
  display: flex;
  background-color: #73aa8b; /* Set background color */
  color: #020e0c; /* Set text color */
  justify-content: space-between; /* Phân phối không gian giữa các phần tử con */
  border-radius: 5px; /* Add border radius */
  width: 300px; /* Set width */
  padding: 20px; /* Thêm padding cho mỗi box_content */
  border: 1px solid #ccc; /* Thêm viền cho mỗi box_content */
  height: 170px; /* Set height */
  
}
.Dasboard .box_content .box_content_1{
  position: absolute;
  width: 100%;
  left: 70px;
  top: 20px;
  

}
.Dasboard .box_content_1 h2{
  font-size: 25px;
}
.Dasboard .box_content_1, .box_content_2, .icon1 {
  margin: 0 10px; /* Tuỳ chọn: thêm khoảng cách giữa các phần tử */
}
.Dasboard .box_content .box_content_2{
  width: 70px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  align-items:center ;

  
}
.Dasboard .box_content .icon1{
  width: 70px;
  height: 50px;
  position: absolute; /* Đặt vị trí tuyệt đối cho icon */
  bottom: 80px; /* Cách viền dưới của phần tử cha 10px */
  left: 10px; /* Cách viền trái của phần tử cha 10px */
  align-items: center;
  
  
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.login-page {
  background-image: url("../../../public/images/2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins', sans serif;
  zoom: 1;
}

.login .box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.login .container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  transform: translateX(15vw);

}


.login span {
  color: #fff;
  font-size: small;
  display: flex;
  display: grid;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.login header {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.login .input-field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  margin-bottom: 10px;

  align-items: center;
}

.login .input-field .input {
  height: 45px;
  width: 125%;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #fff;
  padding: 0 0 0 42px;
  background: rgba(255, 255, 255, 0.1);
}

.login i {
  position: relative;
  top: -31px;
  left: 17px;
  color: #fff;
}

.login ::-webkit-input-placeholder {
  color: #fff;
}

.login .submit-login {
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 200%;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: .3s;
}

.login .submit-login:hover {
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.login .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  color: #fff;
  margin-top: 10px;
}

.login .left {
  display: flex;
}

.login label a {
  color: #fff;
  text-decoration: none;
}
.profile {

  .card {
    border-color: red;

    &-header {
      border-color: red;

      .boder-right {
        border-right: 1px solid red;
      }

      .nav-tabs {
        border-bottom: 0 !important;
      }

      .nav-item {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: 700;
      }

      .nav-link {
        min-height: 100%;
        border: 0px;
        background-color: #f8f8f8;
        color: red;
      }
    }

    &-body {
      padding: 50px;

      &_box {
      }

      .item {
        font-size: 18px;
        margin-bottom: 8px;

        &-title {
          font-weight: 700;
          margin-right: 10px;
        }
      }
    }
  }

  .change-infor {
    padding: 30px;

    .choose-img {
      margin-bottom: 10px;
    }
  }

  .button {
    margin-top: 20px;

    .btn {
      &-save {
        margin-right: 20px;
      }
    }
  }
}
.contaner {
  display: flex;
  flex-direction: column;
  height: 90.7vh;
  width: 100%;  
  box-sizing: border-box;
  margin-right: 10px;
  box-sizing: border-box;
}
.header h1{
  font-size: 30px; 
  color: #0b0b0b; 
  font-weight: bold; 
  margin: 20px 0; 

}
.hearder_title{
  width: 220px;
  height: 50px;
}
.hearder_title h1{
  font-size: 25px;

}
.contaner_content{
  display: flex;
  background-color: #f3e7e7; 
  padding: 20px; 
  height: 100%;
  width: 100%;
  gap: 15px;
 flex-direction: column;
 position: relative;



}
.box_content {
  position: relative; 
  display: flex;
  background-color: #73aa8b; 
  color: #020e0c; 
  justify-content: space-between; 
  border-radius: 5px; 
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc; 
  height: 270px; 
  
}
.contaner_content .box_content_0{
  gap: 200px;
  display: flex;
  flex-direction: row;
  height: 100%; 
  width: 100%; 
  box-sizing: border-box;
 

  
}

.box_content .box_content_1{
  width: 100px;
  height: 70px;
  position: absolute;
  align-items:center ;
  left: 70px;
  top: 50px;
 
  

}
.box_content_1 h2{
  font-size: 35px;
  color: brown;
}
.box_content_1, .box_content_2, .icon1 {
  margin: 0 10px; 
}
.box_content .box_content_2{
  width: 70px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  align-items:center ;

  
}
.box_content .icon1{
  width: 60px;
  height: 50px;
  position: absolute; 
  bottom: 40px; 
  left: 10px; 
  align-items: center;
  
  
}