//sass ./src/utils/scss/style.scss ./src/utils/css/style.css --watch

// Menu
* {
  box-sizing: border-box;
}

.all {
  padding: 20px;
  background-color: #ddd;
}
.sidebar {
  background-color: #adb9ab;
  border: 1px solid #ddd;
  border-radius: 20px;
  min-height: 100%;

  &--header {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    text-align: center;
    font-weight: 700;
    margin: 20px 0;

    &__image {
      width: 70px;
      height: auto;
    }
  }

  &--menu {
    ul {
      list-style-type: none;
      font-weight: 500;

      li {
        margin-bottom: 20px;

        .icon {
          margin-right: 10px;
          font-size: 20px;
        }

        .navlink {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

//End Menu

.content {
  &--header {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-right: 10px;

    &__title {
      width: 80%;
      text-align: center;

      span {
        background-color: #d1e7dd;
        padding: 5px 10px;
      }
    }

    &__icon {
      width: 5%;
    }

    &__login {
      width: 15%;
      text-align: right;

      span {
        margin-right: 10px;
        font-weight: 500;
      }

      img {
        width: 50px;
      }
    }
  }
}

// .h2 {
//   background-color: #000;
// }

.btn {
  color: #000;
  font-weight: 600;
}

.card {
  margin-top: 20px;
  border-radius: 15px;

  &-button {
    margin-right: 15px;
  }

  &-header {
    display: flex;
    align-items: center;

    strong {
      font-size: 22px;
      font-weight: 700;
    }
  }

  th,
  td {
    border-style: none;
  }

  .column {
    padding: 8px 5px;
    background-color: #ddd;
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
    overflow: auto;

    .box {
      background-color: #ddd;
      width: 20%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .column-thead {
    background-color: #fff;

    .box-thead {
      background-color: #fff;
    }
  }
}

/* styles/Login.css */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form h2 {
  text-align: center;
}

.form label {
  display: block;
  margin-bottom: 10px;
}

.form input[type="text"],
.form input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  background-color: #0056b3;
}
